/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

$base-font-size: 14px;
$base-font-family: "Nunito Sans";
$primary-color: #222222;
$secondary-color: #101010e6;
$third-color: #FFFFFF80;
$dropdown-box-shadow: 0 1px 4px #00000040, 0 0 10px rgba(0, 0, 0, 0.3);

body {
	font-size: $base-font-size;
	font-family: $base-font-family;
	background-color: $secondary-color;
	color: white;

	a, button {
		&:hover {
			cursor: pointer;
		}
	}

	button {
		padding: 0;
		color: white;
		border: none;
		border-radius: 3px;

		&:hover {
			color: grey;
		}
	}

	.dropdown-toggle::after {
		vertical-align: 0.15em;
	}

	.dropdown-menu {
		padding: 0;
		font-size: $base-font-size;
		background-color: $primary-color;
		color: white;
		border: none;
		border-radius: 2px;
		box-shadow: $dropdown-box-shadow;
	}

	.dropdown-item {
		font-size: $base-font-size;
		color: white;
		border: none;
		background-color: $primary-color;

		&:hover {
			color: white;
			background-color: #333333e6;
		}
	}

	.loader {
		font-size: 10px;
		margin: 0 auto;
		text-indent: -9999em;
		position: fixed;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background: #505050;
		background: -moz-linear-gradient(left, #505050 10%, rgba(80,80,80, 0) 42%);
		background: -webkit-linear-gradient(left, #505050 10%, rgba(80,80,80, 0) 42%);
		background: -o-linear-gradient(left, #505050 10%, rgba(80,80,80, 0) 42%);
		background: -ms-linear-gradient(left, #505050 10%, rgba(80,80,80, 0) 42%);
		background: linear-gradient(to right, #505050 10%, rgba(80,80,80, 0) 60%);
		position: relative;
		-webkit-animation: load3 1s infinite linear;
		animation: load3 1s infinite linear;
		-webkit-transform: translateZ(0);
		-ms-transform: translateZ(0);
		transform: translateZ(0);
		&:before {
			width: 50%;
			height: 50%;
			background: #505050;
			border-radius: 100% 0 0 0;
			position: absolute;
			top: 0;
			left: 0;
			content: '';
		}
		&:after {
			background: #262626;
			width: 75%;
			height: 75%;
			border-radius: 50%;
			content: '';
			margin: auto;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
		}
	}
	@-webkit-keyframes load3 {
		0% {
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
		}
		100% {
			-webkit-transform: rotate(360deg);
			transform: rotate(360deg);
		}
	}
	@keyframes load3 {
		0% {
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
		}
		100% {
		  	-webkit-transform: rotate(360deg);
		 	transform: rotate(360deg);
		}
	}
}

